<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
    <h2 class="text-center">Nouveau Post</h2>
<div class="form-group">
  <label for="title">Titre</label>
  <input type="text" class="form-control" id="title" formControlName="title">
</div>
<div class="form-group">
    <label for="content">Contenu</label>
    <textarea type="text" class="form-control" id="content" formControlName="content"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Soumettre</button>

  </form>
</div>