<li [ngClass]="{'list-group-item': true,
                'list-group-item-success':postLikeIts + postDislikeIts > 0 ,
                'list-group-item-danger':postLikeIts + postDislikeIts < 0
              }">
              
                <p class="text-right">{{postCreatedAt|date:'dd/MM/y, H:MM a '}}</p>
                <h4>Post : {{ postTitle }}</h4>
                <p>{{postContent}}</p>
                <p>{{id}}</p>

               
                <button class="btn btn-success" (click)="onLike()">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> {{postLikeIts}}</span>
                </button>
                <button class="btn btn-danger" (click)="onDislike()">
                  <span class="glyphicon glyphicon-thumbs-down"> {{postDislikeIts}}</span>
                </button>
                <button class="btn btn-danger pull-right" (click)="onDelete()" >
                   Supprimer le Post
                  </button>

                
                
</li>

