
<div class="col-xs-12">
  <h2>Posts</h2>

<div class="btn-group" role="group" aria-label="Basic example">
  <button class="btn btn-success" (click)="onPost('likeIts')">
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
  </button>
  <button class="btn btn-danger" (click)="onPost('disLikeIts')">
    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
  </button>
  </div>
  <ul class="list-group">
    <app-post *ngFor= "let post of posts;"
    [postTitle]="post.title" 
    [postContent]="post.content"
    [postCreatedAt]="post.createdAt"
    [id]="post.id"
    [postLikeIts]="post.likeIts"
    [postDislikeIts]="post.disLikeIts">
  </app-post>

    
  </ul>
</div>